body {
    background: #fffeeb; 
    font-family: "CustomFont";
  }

  .title2 {
    margin-top: 1rem;
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .burial-req-button {
    font-weight: 500;
    border: none;
    color: #282d32;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 30px;
    cursor: pointer;
    border-radius: 15px;
    background-color: #fcf2e0;
    margin-bottom: 3rem;
    /* margin-left: 11rem; */
    width: 350px;
    height: 50px
  }
  
  .contact-button:hover {
    color: green;
  }


  /*  Purpose: burial sytling
    Authors: 
    zilong wang  - styling
    Brandon Watson - styling */

#title_background{
    font-size: 60px;
    color: aliceblue;
    position:absolute;
    text-align: center;
}/*The style of title on background image*/

#information{
    margin-bottom: 2.25rem;
    height: 400px;
    padding-left: 150px;
    padding-right: 150px;
}/*The style of introduction container*/

#information_title{
   /* color: green; */
   font-size: 40px;
   align-content: center;  
   margin-top: 7rem;
}/*The style of introduction title "Want a natural burial?"*/

#information_content{
  color:black ;
  font-size: 20px;
  align-content: center;
}/*style the font including color and size"*/


