.slide-container {
  border-radius: 25px;
  /* background-color: rgba(255, 255, 255, 0.7); */
  margin-bottom: 1rem;
}

.slide-container,
.slide-container3 {
  font-family: "CustomFont";
  color: whitesmoke;
  /* text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.5), 1px -1px 1px rgba(0, 0, 0, 0.5),
    -1px 1px 1px rgba(0, 0, 0, 0.5), 1px 1px 1px rgba(0, 0, 0, 0.5); */
  text-shadow: 0 4px 8px rgba(124, 124, 124, 1);
}

.slide-container h5 {
  font-size: 6em;
}

.slide-container p {
  font-size: 1.8rem;
}

/* .slide-container3 {
  margin-bottom: 25rem;
} */

.slide-container3 h5,
.slide-container2 h5 {
  font-size: 2rem;
  text-shadow: none;
}

.slide-container3 p,
.slide-container2 p {
  font-size: 1rem;
  text-shadow: none;
}

.button {
  font-weight: 550;
  border: none;
  color: #ba972f;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
}

.button1:hover {
  color: green;
}

.button1 {
  background-color: #fcf2e0;
} /* Green */

@media only screen and (max-width: 768px) {
  .carousel-inner img {
    /* width: 100%; */
    height: 450px;
    object-fit: cover;
    object-position: 60% 60%;
  }
}
