/* 
Purpose: Styling for carousel of homepage
Authors: 
Ben Le: Initial Design
Jacob F: Mobile friendly implementation 
*/

/* --------------- Element based styles ---------------------- */
.carousel img {
  height: 90vh;
}

.slide-container {
  margin-bottom: 1rem;
}


/* Styling for the First and 3 slides in the carousel */
.slide-container,
.slide-container3 {
  font-family: "CustomFont";
  color: whitesmoke;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Styling for First Slide Title Caption */
.slide-container h5 {
  font-family: "CustomFont";
  font-size: 6em;
}

/* Styling for First Slide Subtitle Caption */
.slide-container p {
  font-style: italic;
  font-size: 2.4rem;
}

/* Styling for Second and Third Slide Title Caption */
.slide-container3 h5,
.slide-container2 h5 {
  font-size: 2rem;
  text-shadow: none;
}

/* Styling for Second and Third Slide Subtitle Caption */
.slide-container3 p,
.slide-container2 p {
  font-size: 1rem;
  text-shadow: none;
}

.welcome {
  font-style: italic;
  color: #ba972f;
  font-size: 3rem;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button {
  font-weight: 550;
  border: none;
  color: #ba972f;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
}

.button1:hover {
  color: green;
}

.button1 {
  background-color: #fcf2e0;
}

/*----------------- For Mobile Responsiveness -----------------*/
@media only screen and (max-width: 1360px) {
  .carousel-inner img {
    height: 800px;
    object-fit: cover;
    object-position: 60% 60%;
  }

  .slide-container h5 {
    font-size: 100px;
  }

  .slide-container p {
    font-size: 32px;
  }
}

@media only screen and (max-width: 768px) {
  .carousel-inner img {
    height: 450px;
    object-fit: cover;
    object-position: 60% 60%;
  }

  .slide-container2 h5,
  .slide-container3 h5 {
    text-shadow: 0 4px 8px rgba(124, 124, 124, 1);
  }

  .slide-container2 p,
  .slide-container3 p {
    text-shadow: 0 4px 8px rgba(124, 124, 124, 1);
  }

  .slide-container h5 {
    font-size: 40px;
  }

  .slide-container p {
    font-size: 22px;
  }
}

@media only screen and (max-width: 467px) {
  .carousel-inner img {
    height: 450px;
    object-fit: cover;
    object-position: 60% 60%;
  }

  .slide-container2 h5,
  .slide-container3 h5 {
    text-shadow: 0 4px 8px rgba(124, 124, 124, 1);
  }

  .slide-container2 p,
  .slide-container3 p {
    text-shadow: 0 4px 8px rgba(124, 124, 124, 1);
  }

  .slide-container h5 {
    font-size: 32px;
  }

  .slide-container p {
    font-size: 18px;
  }
}
