/* 
Purpose: Styling the FAQ accordion and FAQ page
Author: Ben Le
*/

/* element based styling */
body {
  background-color: #f8ffeb;
}

/* class based stytling  */
.main-content {
  font-family: "CustomFont";
  color: #282d32;
}
.title {
  font-weight: 800;
  font-family: "CustomFont";
  color: #282d32;
  font-size: xx-large;
  margin-top: 3rem;
}
.accordion {
  margin-bottom: 3rem;
  width: 60vw;
  margin: auto;
}

.container {
  margin-bottom: 10rem;
}

.faq-page {
  background-color: #fffeeb;
  padding: 20px 15px;
  margin: 0 70px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
