/* .main-content {
  height: 1500px;
} */

.main-content {
  font-family: "CustomFont";
  color: #282d32;
}
.title {
  font-weight: 800;
  font-family: "CustomFont";
  color: #282d32;
  font-size: xx-large;
  margin-top: 8rem;
  margin-bottom: 3rem;
}
.accordion {
  margin-bottom: 3rem;
}

.container {
  margin-bottom: 19.5rem;
}
