  /* 
  Purpose: Used to style the FAQ section on the burial page.
  Authors:
  Ben Le: Initial design
  Matthew MacNeil: Positioned the FAQ section in a better spot on the burial page.
  */
  
  /* Class based styles */
  
  .main-content {
    font-family: "CustomFont";
    color: #282d32;
  }

  .faq_title {
    margin-top: 3rem;
  }

  .title {
    font-weight: 800;
    font-family: "CustomFont";
    color: #282d32;
    font-size: xx-large;
    margin-top: 8rem;
    margin-bottom: 3rem;
  }

  .accordion {
    max-width: 1000px;
    margin-bottom: 3rem;
    margin:auto;
  }

  .faq-container {
    width: 100vw;
    margin-bottom: 3rem;
  }

/* For mobile responsiveness */

  @media only screen and (max-width: 768px) {
    .accordion {
      width: 80vw;
      max-width: 500px;
    }
  }