  .main-content {
    font-family: "CustomFont";
    color: #282d32;
  }

  .faq_title {
    margin-top: 3rem;
  }

  .title {
    font-weight: 800;
    font-family: "CustomFont";
    color: #282d32;
    font-size: xx-large;
    margin-top: 8rem;
    margin-bottom: 3rem;
  }

  .accordion {
    /* width: 80vw; */
    max-width: 1000px;
    margin-bottom: 3rem;
    margin:auto;
  }

  .faq-container {
    width: 100vw;
    margin-bottom: 3rem;
  }

  @media only screen and (max-width: 768px) {
    .accordion {
      width: 80vw;
      max-width: 500px;
    }
  }