/*
Purpose: Provides styling for the footer section of webpages
Author(s) / Work Done: 
Rahabar Mahmud - HTML element styling
*/

/*
Edited by: Alex Nguyen 
*/

/* element basesd styles */
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #282d32;
  margin-top: auto;
  /* A: Push the footer to the bottom */
  width: 100%;
  /* A: spans the full width */
  height: 100%;
  /* A: full height */
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
  color: #f0f9ff;
}

footer p {
  font-size: 13px;
  /* margin: 0 0 8px 0; */
  margin: 0 0 16px 0;
  /* Increase the bottom margin to increase the height */
  color: #f5f7e6;
}

footer a {
  font-size: 13px;
  text-decoration: none;
  color: #f5f7e6;
  margin-bottom: 10px;
}

footer .follow i {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  /*transition for animation smoothing*/
  transition: all 0.5s ease;
}

footer .follow i:hover {
  color: #24262b;
  background-color: #ffffff;
}

/* Ⓒ SMU Software Engineering Group A */
footer .copyright {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 13px;
  /* font-weight: 600; */
  word-wrap: break-word;
}

footer {
  margin: 0;
  padding: 0;
}

/* class based styling */
.section-p1 {
  padding: 40px 80px;
}

/* For mobile responsiveness */
@media only screen and (max-width: 768px) {
  .section-p1 .col:nth-child(1) {
    display: block;
    margin-right: 50px;
  }

  .section-p1 .col:nth-child(2) {
    display: none;
  }

  footer {
    height: 420px;
  }
}
