/*
Purpose: Provides styling for specifically the navbar and it's responsive components
Author(s) / Work Done: 
Devon Leigh - HTML element styling
Ben Le - Added styling
Jacob F - Mobile friendly implementation 
*/

/* Custom font used throughout the website */
@font-face {
  font-family: "CustomFont";
  src: url("/Web/styles/fonts/ArchivoNarrow-Regular.ttf");
}

/* --------------- Element based styles ---------------------- */
ul {
  display: flex;
  padding: none;
  align-items: center;
  list-style: none;
}

/* ---------------- Class based styles ------------------ */
.nav-bar {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.nav-bar li {
  flex: 0 0 auto;
  margin-left: 1rem;
  list-style: none;
}

.nav-bar a {
  color: #282d32;
  font-family: "CustomFont";
  font-size: x-large;
  opacity: 100%;
  transition: color 400ms ease-out;
  line-height: 1;
}

.nav-bar a:link {
  text-decoration: none;
}

.nav-bar a:hover {
  color: green;
}

/*----------------- For Mobile Responsiveness -----------------*/
@media screen and (max-width: 1100px) {
  .nav-bar {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 1000px;
    overflow-x: hidden;
    text-align: right;
    /*applys a transition to nav-bar for smoothing*/
    transition: 0.3s;
    z-index: 9999;
  }
  ul {
    display: block;
    height: 100%;
    margin: auto 0;
  }
  li {
    display: block;
    margin: 0 0 1rem;
    list-style: none;
  }
  .nav-bar a {
    color: black;
    padding: 8px 8px 8px 32px;
    font-size: 26px;
    /*transition for all link elements, specified specifically for each browser type4*/
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  /*when max-width is less than 568px, adjust content to be responsive*/
  @media screen and (max-width: 568px) {
    .nav-bar a {
      font-size: 20px;
      font-weight: 580;
    }
  }

  @media screen and (max-width: 1100px) {
    .nav-bar {
      background-color: #fffeeb;
      display: flex;
      justify-content: flex-end;
      position: absolute;
      top: 0;
      right: 0;
      width: 0%;
      overflow-x: hidden;
      text-align: right;
      /*applys a transition to nav-bar for smoothing*/
      transition: 0.3s;
      z-index: 2;
      margin-top: 0;
    }

    .nav-bar ul {
      margin-bottom: 400px;
    }

    .nav-bar a:hover {
      color: #282d32;
    }
  }
}
